@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

/*------------- General ---------------- */
body {
  background-color: aliceblue;
}

section {
  padding: 0;
}

div {
  padding: 0;
  margin: 0;
}

hr {
  border: 1px solid rgba(86, 86, 155, 0);
  border-radius: 2px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", sans-serif;
  text-align: center;
  color: aliceblue;
}

/*------------- Custom 404 page ---------------- */

.dog {
  width: 100%;
  height: 100%;
  padding: 0 0;
  margin: 0 0;
}

.errorpage {
  background: url(../img/dog.webp) no-repeat center center fixed;
  background-size: cover;
}

.dogeat {
  font-family: "Lora", sans-serif;
  position: relative;
  display: block;
  text-align: center;
  color: aliceblue;
  margin: 10% 10%;
}

.errortext {
  text-decoration: none;
}

/*------------- Navbar Css ---------------- */

#nav-container {
  padding: 0;
}

#brand {
  font-family: "Lora", sans-serif;
  color: aliceblue;
}

#navbarToggler a {
  font-family: "Lora", sans-serif;
  color: aliceblue;
}

.navbar {
  background-color: #49648F;
}

.flag {
  height: 30px;
  width: 30px;
}

/*------------- Hero Section ---------------- */

#hero-div {
  height: 80vh;
}

#jumotron-container {
  padding-top: 20vh;
}

#jumotron-container h1 {
  font-family: "Lora", sans-serif;
  color: aliceblue;
}

#jumotron-container h3 {
  font-family: "Lora", sans-serif;
  color: aliceblue;
  padding-top: 20px;
}

.layer {
  background-color: rgba(75, 103, 143, 0.7);

  padding: 15px;
  width: 100%;
  height: 100%;
}

/*------------- Wellcome image ---------------- */

#presentation {
  height: 40%;
}

.col-lg-6 {
  padding: 0;
}

.wellcome {
  background-color: #49648F;
}

.wellcome1 {
  padding-top: 5%;
}

.wellcome h1,
p {
  font-family: "Lora", sans-serif;
  color: aliceblue;
  text-align: center;
}

.col-md-6 {
  padding: 0;
}

/*-- Skills Section-- */

.skills {
  background-color: #49648F;
}

.skills h1 {
  font-family: "Lora", sans-serif;
  color: aliceblue;
  padding-top: 15px;
  margin-bottom: 0;
}

.progress {
  position: relative;
  height: 25px;
  margin-bottom: 4px;
}

.progress-type {
  font-family: "Lora", sans-serif;
  letter-spacing: 0.1em;
  position: absolute;
  left: 2px;
  font-weight: 400;
  padding: 10px 1px 10px 10px;
  color: aliceblue;
  background-color: #007bff;
}

.progress-section {
  margin: 40px 20px 0px 20px;
  padding-bottom: 20px;
}

/*--Call To Action Section--*/

.call-to-action {
  background-color: #49648F;
}

#h1-call-to-action {
  margin-top: 10px;
  font-family: "Lora", sans-serif;
  color: aliceblue;
}

#button-yes {
  font-family: "Lora", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  color: aliceblue;
  border-color: aliceblue;
  text-transform: uppercase;
}

#button-yes:hover {
  font-family: "Lora", sans-serif;
  background-color: aliceblue;
  color: #49648F;
  text-transform: uppercase;
  font-weight: bold;
}

/*--Footer--*/

footer {
  background-color: #49648F;
}

footer h5 {
  padding-top: 8px;
}

a.nav-link {
  text-decoration: none;
  color: aliceblue;
}

footer li a i {
  color: aliceblue;
  height: 45px;
  width: 45px;
  padding-top: 5px;
  border-radius: 0%;
  background-color: #49648F;
  font-size: 30px;
  text-align: center;
}

ul.list-inline {
  text-align: center;
}

.download-cv {
  font-family: "Lora", sans-serif;
  color: aliceblue;
  text-align: center;
  padding-top: 0;
}

.download-cv i {
  padding-left: 10px;
}

#jump-top {
  display: block;
  position: fixed;
  bottom: 53px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

/*--Work Examples--*/

#work-exemples-section {
  background-color: #49648F;
  padding: 0;
}
/*--Nav Pills Customisation--*/

.nav-pills .pill-general .nav-link:not(.active) {
  border-top: 1px solid aliceblue;
  border-right: 1px solid aliceblue;
  border-bottom: 1px solid aliceblue;
  border-left: 1px solid aliceblue;
  background-color: #49648F;
  color: aliceblue;
}

.nav-pills .pill-general .nav-link {
  border-top: 1px solid aliceblue;
  border-right: 1px solid aliceblue;
  border-bottom: 1px solid aliceblue;
  border-left: 1px solid aliceblue;
  background-color: aliceblue;
  color: #49648F;
}

.examples-row {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.card-body {
  background-color: #49648F;
}

.card-title {
  font-family: "Lora", sans-serif;
  text-align: center;
  color: aliceblue;
}

.btn-cards,
.btn-cards:visited,
.btn-cards:focus,
.btn-cards:active,
.btn-cards:not(.active) {
  background-color: #49648F;
  font-family: "Lora", sans-serif;
  border-color: aliceblue;
  color: aliceblue;
}

.btn-cards:hover {
  background-color: aliceblue;
  font-family: "Lora", sans-serif;
  border-color: aliceblue;
  color: #49648F;
}

/*--Contact page start Section--*/

.contact-page {
  background-color: #49648F;
}

.contact-page h1 {
  padding-top: 15px;
}

.social-list li a i {
  color: aliceblue;
  height: 45px;
  width: 45px;
  padding-top: 5px;
  border-radius: 0%;
  background-color: #49648F;
  font-size: 30px;
  text-align: center;
}

.social-list li a i:hover {
  color: #9aaeca;
}

.contact {
  background-color: #49648F;
}

form {
  padding: 10px;
}

form label,
:placeholder-shown {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  color: aliceblue;
}

#btn-submit {
  font-family: "Lora", sans-serif;
  border-color: aliceblue;
  background-color: #49648F;
}

#btn-submit:hover {
  background-color: aliceblue;
  font-family: "Lora", sans-serif;
  border-color: aliceblue;
  color: #4b678f;
}

.address {
  font-family: "Lora", sans-serif;
  color: aliceblue;
  text-align: center;
  padding-top: 10px;
}

.map {
  padding: 10px;
}

.map-row,
.address-row {
  margin: 0;
  padding-right: 15px;
  padding-left: 15px;
}

/*--Thank You--*/

.thank-you {
  background-color: #49648F;
}

.thank-you img {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 8px;
}

.address-row-thank-you {
  padding-top: 10px;
  padding-bottom: 10%;
}

.thank-you h1 {
  font-family: "Lora", sans-serif;
  padding-top: 30px;
  padding-right: 4px;
  padding-left: 4px;
}

.address-thank-you h2 {
  padding-top: 40px;
}

.map-thank-you {
  padding-left: 15px;
  padding-right: 15px;
}
