@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Signika+Negative&display=swap');

h1 {
    color: red;
    text-align: center;
}



/*------------- Custom 404 page ---------------- */

.dog {
    width: 100%;
    height: 100%;
    padding: 0 0;
    margin: 0 0;
}

.errorpage {
    background: url(../img/dog.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dogeat {
    font-family: "Estonia";
    position: relative;
    display: block;
    text-align: center;
    color:#00Bfff;
    margin: 10% 10%;
}

.errortext{
    text-decoration: none;
}

/*------------- Navbar Css ---------------- */

#nav-container {
    padding: 0;
}

#brand {
    color: #fff;
}


.navbar{
    background-color: #5299D3;
}

.flag {
    height: 30px;
    width: 30px;
}


/*------------- Hero Section ---------------- */

#hero-section {
    background: url(../img/developer-coding-in-php.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    padding: 0;
}

#hero-div {
    height: 80vh;
}


.hero-relative-left {
    position: relative;
    text-align: center;
    color: aliceblue;
    padding-top: 10vh;
    padding-left: 5%;
    padding-right: 70%;
}

.hero-relative-right {
    position: relative;
    text-align: center;
    color: aliceblue;
    padding-top: 40vh;
    padding-right: 5%;
    padding-left: 50%;
 
}




